html {

    background-color: rgb(255, 255, 255);

}

#divNum_01 {

    margin: auto;

    text-align: center;
    font-family: 'Anton', sans-serif;
    color: rgb(51, 142, 25);

}


 .slideShow_01{
    font-family: 'Anton', sans-serif;
    margin: auto;
    border: 5px;
    border-color: aqua;
    background-color: aliceblue;
}
img.slideShow_01{
width: 480px;

}

#imgNum_01{
width: 240px;


}

